.contat{
    padding: 0px;
}

.section .container {
    padding-top:30px;
}

.signUp-kiri{
    float: left;
    background: white;;
    width: 50%;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 15px;
}
.signUp-kanan{
    float: right;
    background: black;
    width: 50%;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 15px;
}

p{
    color: white;
    font-size: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 40%;
    height: 30px;;
    margin : auto;
    padding: 18px;
    border: 3px solid rgb(250, 198, 12);
}

button{
    background-color: rgb(250, 198, 12);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
}

/* Login PopUp */

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }